.root {
  lost-utility: clearfix;
  padding: 1rem 0;
  text-align: center;
}

.logo {
  display: inline-block;
  color: white;
  font-family: "Alice", serif;
  font-weight: normal;
  vertical-align: middle;
}

.logo a {
  color: white;
  text-decoration: none;
}

.emoji {
  vertical-align: middle;
  margin-right: 1rem;

}

.links {
  clear: both;
  margin-top: 1.5rem;
  text-align: center;
}

@media (min-width: 700px) {
  .root {
    text-align: left;
  }
  .logo {
    float: left;
  }
  .links {
    float: right;
    clear: none;
    text-align: left;
  }
}

.links a {
  display: inline-block;
  margin: 0 2rem;
  font-size: .9rem;
  color: white;
  text-decoration: none;
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 900;
  letter-spacing: .14rem;
  text-transform: uppercase;
}

.links a:hover {
  color: white;
  border-bottom: 3px solid #775298;
}
