.root {
  background: white;
  color: var(--color-background);
  border-radius: 999px;
  padding: .7em 1em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .2rem;
  -webkit-font-smoothing:antialiased;
  margin-top: 2rem;
  border: none;
  -webkit-appearance: none;
}

.root:hover {
  opacity: .4;
}

.primary {
  color: var(--color-primary);
}

.big {
  font-size: 2rem;
}
